@font-face {
    font-family: coolvetica;
    src: url('../../assets/coolvetica/coolvetica/coolvetica\ rg.otf') format('opentype');
}

@font-face {
    font-family: coolvetica1;
    src: url('../../assets/coolvetica/coolvetica\ compressed\ hv.otf') format('opentype');
}

@import "../../assets/variables";

.start-button{
    .button{
        border-style: solid;
        color: $brightPink;
        font-family: coolvetica;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0.625rem;
        width: max-content;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 10%;
        padding-right: 10%;
        border-color: $brightPink;
        font-size: 1rem;
        letter-spacing: 0.5px;
    }
}